html {
  font: 1.25em/1.5 "Avenir Next", Avenir, sans-serif;

  color: #999;
  background-color: #333;

  -webkit-text-size-adjust: 100%;
}

body,header,main,h1,p,hr {
  padding: 0;
  margin: 0;
  margin-bottom:1rem;
} 

main {
  width: 20rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

a, a:visited {
  color: #999;
}

a:hover, a:focus, a:active {
  color: #ccc;
  text-decoration: none;
}

header > a {
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left:   .5em;
  padding-right:  .5em;

  text-decoration: none;
  border-bottom: none;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

hr {
  background: #666;
  height: 1px;
  border: none;
}

a.current {
  color: #ccc;
  background-color: #666;
}

.banner {
  font-weight: 100;
  font-size: 4em;
}
