* {
  margin: 0;
  padding: 0;
  outline: none;
  margin-bottom:.5rem;
}

html {
  font: 1.25em/1.5 "Avenir Next", Avenir, sans-serif;

  color: #ccc;
  background-color: #222;

  -webkit-text-size-adjust: 100%;
}

body {
  width: 20rem;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

a, a:visited {
  color: #26c;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
  background: #bbb;
  height: 1px;
  border: none;
}
